a{
    color:#000;
}

img {
    border-radius: 50%;
    max-height: 4vh;
    margin: 5px;
    margin-top: 9px;
}

.btn-light{
    margin-left:3%;
}

.btn1{
    border: none;
    padding:5px;
}

.btn1:hover{
    background-color: transparent;
    color:#000
}

.btn2{
    margin-left: 2%;
}